<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="box-shadow: -2px 5px 5px 0px rgba(73,67,67,0.75);
  -webkit-box-shadow: -2px 5px 5px 0px rgba(96,90,90,0.75);
  -moz-box-shadow: -2px 5px 5px 0px rgba(72,69,69,0.75); width: 100%;">


    <div class="navbar-collapse collapse show" id="navbarColor02" style="display: flex; justify-content: space-between;">

        <div>

            <ul class="navbar-nav mr-auto" style="margin: 0 !important;">
                <li (click)="Pocetna()" class="nav-item active" #pocetna>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" style="position: relative;top: 15%; left: 27%; cursor:pointer;" routerLink="">home</mat-icon><br>
                    <a style="color: rgba(255,255,255,0.84);font-size: small;cursor: pointer;" routerLink="">Početna</a>
                </li>
                <li (click)="ClickPomoc()" routerLink="pomoc" class="nav-item active" style="cursor:pointer;position: relative; left:15%" #pomoc>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" style="position: relative;top: 15%; left: 27%">help</mat-icon><br>
                    <a style="color: white;font-size: small;cursor: pointer;">Pomoć</a>

                </li>
                <li  class="nav-item active" style="position: relative; left:32%;cursor: pointer;" (click)="openAbout()" #about>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" style="position: relative;top: 15%;left: 26%">info</mat-icon><br>
                    <a style="color: white; font-size: small;cursor: pointer;">O nama</a>
                </li>
            </ul>
        </div>

        <div style="display: flex; align-items: center;">
            <div class="image" style="position: relative;left: 30%;"></div>
            <p style="font-family: 'Mochiy Pop P One', sans-serif;font-size: larger; position: relative;left: 30%; color: #f5f5f8">HandyMan</p>
        </div>

        <div>
            <ul class="navbar-nav mr-auto" style="margin: 0px 10px 0px 0px !important;">
                <li (click)="clickPretraga()" class="nav-item">
                    <a #pretraga style="color: white" class="nav-link" routerLink="">Pretraga oglasa</a>
                </li>
                <li (click)="clickOglas()" class="nav-item">
                    <a #dodajOglas style="color: white" class="nav-link" routerLink="dodajOglas" *ngIf="GetUloga()=='Majstor'">Dodaj oglas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color:white;" #evidencija [matMenuTriggerFor]="belowMenu" *ngIf="GetUloga()=='Majstor'" (click)="clickEvidencija()">Angažmani</a>
                    <mat-menu #belowMenu="matMenu" yPosition="below">
                        <a class="nav-link" routerLink="/noviangazmani">Novi angažmani</a>
                        <a class="nav-link" routerLink="/prihvaceniangazmani">Prihvaćeni angažmani</a>
                    </mat-menu>
                </li>
                <li (click)="clickMojiOglasi()" class="nav-item" *ngIf="GetUloga()=='Majstor'">
                    <a #mojiOglasi style="color: white" class="nav-link" href="#" routerLink="mojiOglasi">Moji oglasi</a>
                </li>
              <li (click)="clickAddPonuda()" class="nav-item" *ngIf="GetUloga()=='Potražitelj usluga'">
                <a  #addPonuda style="color: white"  class="nav-link" href="#" routerLink="/addPonuda">Dodaj ponudu</a>
              </li>
              <li  (click)="clickMojePonude()" class="nav-item" *ngIf="GetUloga()=='Potražitelj usluga'">
                <a #MyPonuda  style="color: white" class="nav-link" href="#" routerLink="/mojePonude">Moje ponude</a>
              </li>
                <li class="nav-item" style="position: relative;" *ngIf="GetUser()==null">
                    <button type="button" routerLink="/prijava" class="btn btn-outline-light" style="padding: 0% 10% 6% 6%">
                  <mat-icon style="position: relative;top:6px">account_circle</mat-icon>Prijavi se</button>
                </li>
                <li class="nav-item" style="position: relative;" *ngIf="GetUser()">
                    <button type="button" (click)="OdjaviSe()" class="btn btn-outline-danger" style="padding: 0% 10% 6% 6%">
                <mat-icon style="position: relative;top:6px">account_circle</mat-icon>Odjavi se</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
