
<h1 align="center" style="color: #214da4;font-style: italic">O nama</h1>
<img src="http://localhost:4200/assets/Logo1.png" style="width: 60px;height: 50px;position: relative;left: 48%">
<mat-dialog-content class="mat-typography" align="center" style="position: relative;top:30px;height: auto">

  <h2 style="font-size: x-large;color: #5484e1;font-style: italic;border-bottom: rgba(123,123,123,0.44) 1px solid">Ko smo mi?</h2><br><br>
  <div class="paragraf">
  <p class="tekst"><a style="color: deepskyblue">HandyMan</a> je moderna web aplikacija koja Vam omogućava da na jednostavan i lak način pronađete majstora ili firmu čije usluge su Vam potrebne.
  </p><br>
  <p class="tekst">
    Cilj nam je da posjedujemo najveću bazu majstora u Bosni i Hercegovini i da stalnim razvojem i unapređenjem načina poslovanja olakšamo dolazak do majstorskih usluga.</p><br>

    <p class="tekst">  U cilju ispunjenja misije nudimo mogućnost postavljanja vlastitih kvarova ukoliko isprva ne možete pronaći odgovarajuću uslugu na koju će naši registrovani majstori odgovoriti u <br> <p class="tekst">rekordnom roku.</p><br>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" style="position: relative;top: 40px">
  <button class="btn btn-outline-success" mat-dialog-close>Uredu</button>

</mat-dialog-actions>
