table,
mat-paginator {
    width: 100%;
    height: 50%;
    margin: auto;
}

.wrapper {
    height: 86%;
    width: 80%;
    margin: auto;
}

.angazmani {
    height: 50%;
    width: 90%;
    margin: auto;
}

button {
    margin: 1%;
}

table ng-container th {
    text-align: center;
}

#akcije {
    width: 300px;
}