.sve {
    width: 100%;
    height: 92.5%;
}

.pretraga {
    width: 100%;
}

.navHome {
    z-index: 2;
    height: 8%;
    width: 100%;
    background-color: rgba(190, 182, 182, 0.54);

}

.oblasti {
    position: relative;
    width: 25%;
    height: 90%;
    font-weight: bold;
  font-size: large;
}

.example-card {
    width: 25%;
    height: 40%;
    position: relative;
    left: 5%;
    top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 10px solid transparent;
    padding: 15px;
    color: black;
    background-color: white;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.44);
}

#icon1 {
    position: relative;
    top: 2px;
    left: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("tile.png");
    background-size: cover;
}

#icon2 {
    position: relative;
    top: 2px;
    left: 50%;
    display: inline-block;
  width: 30px;
  height: 30px;
    background-image: url("clean.png");
    background-size: cover;
}

#icon3 {
    position: relative;
    top: 2px;
    left: 25%;
    display: inline-block;
  width: 30px;
  height: 30px;
    background-image: url("pipe.png");
    background-size: cover;
}

.oglasi {
    position: relative;
    width: 70%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
}

.justify {
    position: relative;
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: space-evenly;
}

.paging {
    position: absolute;
    top: 98%;
    left: 28%;
}
