<div class="sve">
<div class="navHome">
  <div class="pretraga" style="position: relative; top:20%; display: flex; align-items: center;">
    <p style="display: inline-block;position: relative; left: 5%; width: 20%; color: #1f1fb9;font-weight: bold;font-size: x-large;font-style: italic">Oglasi iz Vaše oblasti</p>
    <div style="position: relative; left: 25%; display: flex; max-height: 40px; width: 30%; align-items: center;">
      <mat-icon style="color: #1f1fb9; margin-right: 2%;">search</mat-icon>
      <input class="form-control" type="search" placeholder="Unesite pojam za pretragu" [(ngModel)]="pretraga" aria-label="Search" #elementRef (keydown)="keyDownFunction($event)">
      <button type="button" class="btn btn-outline-primary" style="position: relative;left: 2%" (click)="Pretraga()">Pretraži</button>
    </div>
  </div>

</div>
  <nav aria-label="breadcrumb" >
    <ol class="breadcrumb" style="background-color: white">
      <li class="breadcrumb-item active" aria-current="page">Pretraga oglasa</li>
    </ol>
  </nav>
  <div class="justify">
  <div class="oblasti">
    <button (click)="ClickSve()" #dugme1 type="button" class="btn btn-primary btn-lg" style="width: 80%;position: relative;top: 7%;left: 10%;text-align: left;height: 10%;background-color:rgba(21,57,194,0.85)">Sve kategorije</button><br>
    <button (click)="ClickElektrika()" #dugme2 type="button" class="btn btn-primary btn-lg" style="width: 80%;position: relative;top: 14%;left: 10%;text-align: left;height: 10%;background-color:rgba(21,57,194,0.85)">Elektrika <mat-icon style="color: black;position: relative;left: 50%">flash_on</mat-icon></button><br>

    <button (click)="ClickKeramika()" #dugme3 type="button" class="btn btn-primary btn-lg" style="width: 80%;position: relative;top: 21%;left: 10%;text-align: left;height: 10%;background-color:rgba(21,57,194,0.85)">Keramika<div id="icon1"></div></button><br>
    <button (click)="ClickCiscenje()" #dugme4 type="button" class="btn btn-primary btn-lg" style="width: 80%;position: relative;top: 28%;left: 10%;text-align: left;height: 10%;background-color:rgba(21,57,194,0.85)">Čišćenje<div id="icon2"></div></button><br>
    <button (click)="ClickCijevi()" #dugme5 type="button" class="btn btn-primary btn-lg" style="width: 80%;position: relative;top: 35%;left: 10%;text-align: left;height: 10%;background-color:rgba(21,57,194,0.85)">Cijevne instalacije<div id="icon3"></div></button><br>
  </div>


<div class="oglasi">
    <mat-card class="example-card" *ngFor="let oglas of oglasi | paginate: { itemsPerPage: 6, currentPage: p}">
        <mat-card-title-group style="height: 70%;">
            <mat-card-title style="font-size: medium">{{oglas.Naziv}}</mat-card-title>
            <mat-card-subtitle style="color: rgba(161,161,42,0.79)">
                <mat-icon style="color:  rgba(161,161,42,0.79)"> local_offer</mat-icon>{{oglas.Oblast}}</mat-card-subtitle>
            <mat-card-subtitle style="color: rgba(134,25,25,0.73)">
                <mat-icon style="color: rgba(141,36,36,0.82)"> location_on</mat-icon>{{oglas.Grad}}</mat-card-subtitle>
            <img mat-card-md-image src="{{oglas.Slika}}">
        </mat-card-title-group>
        <mat-card-content style="height: 30%;">
            <button type="button" class="btn btn-outline-primary" style="margin-bottom:5px; width: 60%;position: relative;left: 20%;" (click)="Detalji(oglas.ID)">Detalji</button>
            <button class="btn btn-outline-success" style="width: 60%;position: relative;left: 20%;" (click)="SlanjePonude(oglas.ID)">Pošalji ponudu</button>
        </mat-card-content>
    </mat-card>
    <pagination-controls style="text-align: center;" previousLabel="Prethodni" nextLabel="Sljedeći" (pageChange)="p=$event" class="paging"></pagination-controls>
</div>
  </div>
</div>
