<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: white">
        <li class="breadcrumb-item " aria-current="page"><a routerLink="">Pretraga oglasa</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nađi posao</li>

    </ol>
</nav>
<div style="width: 100%; text-align: center;">
    <mat-card-title style="text-align: center; font-size: xx-large; color: rgba(110, 110, 110, 0.473);">Oglasi iz Vaše oblasti</mat-card-title>
</div>
<div class="oglasi">
    <mat-card class="example-card" *ngFor="let oglas of oglasi | paginate: { itemsPerPage: 6, currentPage: p}">
        <mat-card-title-group style="height: 70%;">
            <mat-card-title style="font-size: medium">{{oglas.Naziv}}</mat-card-title>
            <mat-card-subtitle style="color: rgba(161,161,42,0.79)">
                <mat-icon style="color:  rgba(161,161,42,0.79)"> local_offer</mat-icon>{{oglas.Oblast}}</mat-card-subtitle>
            <mat-card-subtitle style="color: rgba(134,25,25,0.73)">
                <mat-icon style="color: rgba(141,36,36,0.82)"> location_on</mat-icon>{{oglas.Grad}}</mat-card-subtitle>
            <img mat-card-md-image src="{{oglas.Slika}}">
        </mat-card-title-group>
        <mat-card-content style="height: 30%;">
            <button type="button" class="btn btn-outline-primary" style="margin-bottom:5px; width: 60%;position: relative;left: 20%;" (click)="Detalji(oglas.ID)">Detalji</button>
            <button class="btn btn-outline-success" style="width: 60%;position: relative;left: 20%;" (click)="SlanjePonude(oglas.ID)">Pošalji ponudu</button>
        </mat-card-content>
    </mat-card>
    <pagination-controls style="text-align: center;" previousLabel="Prethodni" nextLabel="Sljedeći" (pageChange)="p=$event" class="paging"></pagination-controls>
</div>